@import "variables";
@import "functions";

<<<<<<< HEAD
*{
    border: 0;
    margin: 0;
    padding: 0;
}

body,
html{
    height: 100%;
    width: 100%;
}

.navigator{ 
    width: 100%;
    margin-bottom: 1rem;
    background: #2A4C4E;
}

=======
>>>>>>> 0b7f304b6cd5f28fd857b2c21187cc47f6a09a82
.container_item{
    margin: 1rem 0;
    
    iframe{
        min-height: 410px;
        width: calc(100% - 2rem);
        display: block;
        margin: 1rem;
        border: none;
        @include transition(all .5s ease);
    }
    
    .collapsible-header{
        cursor: pointer;
    }
    
    .collapsible-body{
        padding: 1rem 0 0 0;
    }
}

.button_share{
    width: calc(100% - 2rem);
    margin: .15rem 1rem 1rem;
    @include flex(flex);
    
    > button{
        @include flex-item(1);
        
        &:nth-child(2){
            margin: 0 .15rem;
        }
    }
}

.id,
.category,
.state{
    width: calc(100% - 2rem);
    margin: .05rem 1rem;
}

<<<<<<< HEAD
#nav-mobile {
    @include flex(flex);
    
    li{
        float: none;
        cursor: pointer;
        padding: 0 .5rem;
        text-align: center;
        height: 64px;
        
        > img{
            margin-top: .75rem;
        }
        
        > img,
        > span{
            display: inline-block;
        }
        
        > span{
            width: 100%;
            color: #000;
        }
    }
}

nav{
    line-height: 1;
}

=======
>>>>>>> 0b7f304b6cd5f28fd857b2c21187cc47f6a09a82
@import 'queries';