@media (max-width: 800px){
    .container_item{
        margin: 1rem 0;
        
        iframe{
            min-height: 340px;
        }
    }
}


@media (max-width: 640px){
    #nav-mobile {
        
        li{
            @include flex-item(1);
            width: calc(100% / 3);
            max-width: calc(100% / 3);
            height: 64px;
        }
    }
}

@media (max-width: 600px){
    .container_item{
        margin: 1rem 0;
        
        iframe{
            min-height: 290px;
        }
    }
    
    #nav-mobile {
        
        li{
            @include flex-item(1);
            width: calc(100% / 3);
            max-width: calc(100% / 3);
            height: 56px;
            
            > img{
                margin-top: .5rem;
            }
        }
    }
}

@media (max-width: 500px){
    .button_share{
        display: block;
        
        > button{
            display: block;
            width: 100%;
            
            &:nth-child(2){
                margin: 0;
            }
        }
    }
    
    .navigator{
        height: 112px;
    }
    
    #nav-mobile {
        display: block;
        float:none;
        width: 100%;
        
        
        li{
            @include flex-item(initial);
            float: none;
            width: calc(100% / 3 - .3rem);
            max-width: calc(100% / 3 - .3rem);
            height: 56px;
            display: inline-block;
            vertical-align: top;
            
            > img{
                margin-top: .5rem;
            }
        }
    }
}

@media (max-width: 400px){
    .container_item{
        margin: 1rem 0;
        
        iframe{
            min-height: 190px;
        }
    }
}